<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleGetInfoString</key>
    <string>Solarized</string>
    <key>CFBundleIdentifier</key>
    <string>org.kalnitsky.projects.nifty</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>1.0</string>
    <key>CFBundleName</key>
    <string>Solarized</string>
    <key>CFBundlePackageType</key>
    <string>AdIM</string>
    <key>DefaultFontFamily</key>
    <string>Droid Sans</string>
    <key>DefaultFontSize</key>
    <integer>12</integer>
    <key>MessageViewVersion</key>
    <integer>3</integer>
    <key>ShowsUserIcons</key>
    <true/>
    <key>DefaultVariant</key>
    <string>No Avatars</string>
    <key>AllowTextColors</key>
    <false/>
    <key>DisableCustomBackground</key>
    <false/>
    <key>DefaultBackgroundColor</key>
    <string>FFFFFF</string>
</dict>
</plist>
