/*
 * Copyright 2012 Igor Kalnitsky <igor@kalnitsky.org>
 *
 * This file is part of Solarized Empathy.
 *
 * Solarized Empathy is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Solarized Empathy is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Solarized Empathy.  If not, see <http://www.gnu.org/licenses/>.
 */

@import url("../main.css");

/*
 * The Dark variant of Solarized.
 */

body {
    color: #586E75; /* Base01 */
    background: #EEE8D5; /* Base2 */
}

::selection {
    color: #FDF6E3; /* Base3 */
    background: #657B83; /* Base00 */
    text-shadow: none;
}

.chat-item {
    box-shadow: 0px 0px 2px #657B83; /* Base00 */
}

.incoming-item {
    background: #F8F2DE;
}

.outgoing-item {
    background: #FDF6E3; /* Base3*/
}

.status {
    background: #92A0A0; /* Base1 */
}

.status .time {
    border-bottom: 1px solid #586E75; /* Base01 */
}
